.qty-slider{
    float:left;
    margin-top:-20px;
    margin-left: 20px;
}
.equity-slider{
    float:left;
    margin-left: 40px;
    margin-top:-20px;
}
.account-average-slider-height {
    height: 300px;
}